* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(o, 0, 0, 0.1); 
}

h1 {
    margin-bottom: 32px;
    color: black;
}

.star-rating {
    font-size: 32px;
    margin-bottom: 16px;
}

.fa-star {
    cursor: pointer;
    color:gray;
    transition: color 0.2s ease;
}

.fa-star.active,
.fa-star.hover {
    color: yellow;
}

.rating-text {
    font-size: 18px;
    color: grey;
}